<!DOCTYPE <!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Please rate our service</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <div class="container">
      <img src="../static/Lambo.png" alt="lambo" class="logo" />

      {% if message %}
      <p class="message">{{message | safe}}</p>

      {% endif %}

      <form action="/submit" method="POST">
        <div class="form-group">
          <h3>Customer Name</h3>
          <input
            type="text"
            name="customer"
            placeholder="Name of vehicle owner" />
        </div>

        <div class="form-group">
          <h3>Dealer</h3>
          <select name="dealer">
            <option value="">Select Delaer</option>
            <option value="cornelius">Cornelius</option>
            <option value="wambura">wambura</option>
            <option value="kemboi">kemboi</option>
            <option value="simon">simon</option>
          </select>
        </div>

        <div class="form-group">
          <h3>Please Rate your dealer</h3>
          <input type="radio" class="rating" value="1" name="radio" />1
          <input type="radio" class="rating" value="2" name="radio" />2
          <input type="radio" class="rating" value="3" name="radio" />3
          <input type="radio" class="rating" value="4" name="radio" />4
          <input type="radio" class="rating" value="5" name="radio" />5
          <input type="radio" class="rating" value="6" name="radio" />6
          <input type="radio" class="rating" value="7" name="radio" />7
          <input type="radio" class="rating" value="8" name="radio" />8
          <input type="radio" class="rating" value="9" name="radio" />9
          <input type="radio" class="rating" value="10" name="radio" />10
        </div>

        <div class="form-group">
          <h3>Comments about your experience</h3>
          <textarea
            name="comments"
            id=""
            cols="10"
            rows="10"
            placeholder="Tell us what you liked and/or did not like"></textarea>
        </div>
        <input type="submit" value="Submit" class="btn" />
      </form>
      <button><a href="/feedback">feedback</a></button>
    </div>

    <script src="" async defer></script>
  </body>
</html>
